*{
    margin: 0;
    padding: 0;
}

.menu-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px 0px;
    box-shadow: 0px 4px 8px -2px gray;
    margin-bottom: 5px;
}
.menu-container img{
    height: 60px;
    width: 60px;
    border-radius: 50%;

}
.menus{
    display: flex;
    list-style: none;
    
}

.menus a {
    text-decoration: none;
    color: #E55473;
    font-size: 20px;
    font-weight: bold;
    padding-right: 20px;
}

.categories-menu{
    position: absolute;
    list-style: none;
    background-color: white;
    padding: 10px 5px;
    display: none;
}
.categories-menu li{
    padding-top: 10px;
}

.categories:hover .categories-menu{
    display: block; 
}

.banner-container{
    display: flex;
    padding: 0px 100px;
    align-items: center;
    height: 600px;
    background-color: #FCEEF1;
}
.banner-content, .banner-image{
    width: 50%;

}
.banner-image img{
    height: 600px;
    margin-left: 20px;
}
.banner-title{
    color: #272727;
    font-family: Lato;
    font-size: 60px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.banner-description{
    color:39, 39, 39, 0.60;
    font-family: Lato;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    margin-top: 20px;
}
.shop-now-btn{
    background-color: #E55473;
    color: white;
    font-weight: bold;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    margin-top: 20px;
}