*{
    margin: 0;
    padding: 0;
}
/* shared Style */
.button-primary{
    background-color: #E55473;
    color: white;
    font-weight: bold;
    border: none;
    padding: 20px 50px;
    border-radius: 5px;
    margin-top: 20px;
}
.button-primary:hover{
    cursor: pointer;
}
.section-main-title{
    color: #272727;
    text-align: center;
    font-family: Lato;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    margin-bottom: 20px;
}

.section-description{
    color: rgba(39, 39, 39, 0.60);
    font-family: Lato;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    margin-bottom: 30px;
}
/* menu style */
.menu-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px 0px;
    box-shadow: 0px 4px 8px -2px gray;
    margin-bottom: 5px;
}
.logo{
    font-size: 40px;
}
.menus{
    display: flex;
    list-style: none;   
}

.menus li a:hover{
 color: rgba(39, 39, 39, 0.60);
}
.menus a {
    text-decoration: none;
    color: #E55473;
    font-size: 20px;
    font-weight: bold;
    padding-right: 20px;
}

.categories-menu{
    position: absolute;
    list-style: none;
    background-color: white;
    padding: 10px 5px;
    display: none;
}
.categories-menu li{
    padding-top: 10px;
}

.categories:hover .categories-menu{
    display: block; 
}

.banner-container{
    display: flex;
    padding: 0px 100px;
    align-items: center;
    height: 600px;
    background-color: #FCEEF1;
}
.banner-content, .banner-image{
    width: 50%;
}

.banner-image img{
    height: 600px;
    margin-left: 20px;
}
.banner-title{
    color: #272727;
    font-family: Lato;
    font-size: 60px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.feature-flowers-container{
    text-align: center;
    padding: 50px 0;
}

.feature-flowers{
    display: flex;
    justify-content: center;
    padding: 50px 0px;
}

.feature-flower{
    width: 300px;
    height: 300px;
    text-align: center;
    margin: 0px 20px;
    padding-top: 50px;
    border-radius:50% 50% 0 0;
}
.feature-flower a{
    color: #272727;
    font-size: 18px;
    font-weight: 600;
}

.feature-flower-pink-tulip{
    background-color: #F2DEE7;
}
.feature-flower-bouquet{
    background-color: #D9EFF1;
}
.feature-flower-yellow-tulip{
    background-color: #E3EBDB;
}
.feature-flower-img img{
    height: 300px;
}

/* Hot Deals Style */

.hot-deals{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 100px;
    text-align: center;
    background-color:#FCEEF1 ;
}
.hot-deal-off{
    color: #E55473;
    font-weight: bold;
}

/* Instagram */
.instagram{
    text-align: center;
    padding: 100px;
}
.instagram-images{
    display: flex;
}

.instagram-images img{
    width: 270px;
    margin: 0px 10px;
}

/* latest Deals */
.latest-deals{
    background-image: url('../images/Rectangle\ 9.png');
    background-position: center;
    background-size: cover;
    margin:0 100px;
    padding: 100px 0px;
    text-align: center;
}

.latest-deals input[type='email']{
    border: none;
    width: 400px;
    outline: none;
    border-radius: 5px;
    padding: 20px 10px;
    margin-right: 20px;
}

/* footer */
.footer{
    background-color: #272727;
    margin-top: 100px;
    padding: 100px;
    text-align: center;
}
.flower{
    color:#E55473;
    font-size: 40px;
    margin-bottom: 20px;
}
.shop{
    color: white;
}

.footer-description{
    color: rgb(218, 217, 217);
    margin-bottom: 20px;
}
.copyright{
    color: rgb(160, 160, 160);
}